.btn {
  @apply inline-block rounded-xl px-6 py-[14px] font-medium text-white transition;
  &-sm {
    @apply px-[22px] py-[10px];
  }
  &-dark {
    @apply bg-dark-quaternary hover:bg-white hover:text-dark-primary;
  }
  &-light {
    @apply bg-light-primary text-dark-primary hover:bg-light-tertiary;
  }
}

.btn-border-gradient {
  @apply px-5 py-4 font-medium;
  border-image: linear-gradient(100.68deg, #0aa5fe 12.12%, #02ddeb 30.19%, #fdd13b 45.31%, #ff8f81 63.75%, #c14ecf 100%)
    1;
  border-width: 1px;
  border-style: solid;
}
